{% extends 'base.html.twig' %}

{% block contenu %}



{# ici le formulaire. Vous pouvez le rendre avec form_row ou quoi qui vous vouliez #}

<div class ="text-primary">
{{ form_start(form,{'action': path('contenu_base'), 'method': 'GET'}) }}
<h3>Filtres de Recherche</h3><input type="submit">
{{ form_end(form) }}
</div>


<div id="contenuRecherche">
    <h1>Div Contenu Recherche No AJAX</h1>
    {# {{ dump (filmsFiltres) }} #}


    {# filmsFiltres est envoyé par le controller dans tous les cas #}

    <div class="bg-light">
    {% if(filmsFiltres | length > 0) %} 
        {% for film in filmsFiltres %} 
            <br>
            <h6>Id: {{film.id }}</h6>
            <h5>Titre du film : {{ film.titre }} - <strong>{{ film.getGenre.nom }}</strong></h5> 
            </h5>Duree du film : {{ film.duree }} min. </h5>
        {% endfor %}
    {% else %}
        <h3 class="text-danger">Pas de résultats...</h3>
    {% endif %}

    </div>
</div>

{# div pour le paginator #}
<div>
{{ knp_pagination_render(filmsFiltres, 
        'templates_pagination/twitter_bootstrap_v4_pagination.html.twig') }}
</div>

</div>






{% endblock %}